@import '../../../../theme/colors.module.scss';

.title.ant-typography {
  margin-bottom: 0.5rem;
}
.content {
  margin-bottom: 2rem;
  max-width: 57rem;
  &--text-container.ant-typography {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  &--text.ant-typography {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}
.read-more.ant-typography {
  color: $blue-7;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: $blue-7;
  text-decoration-thickness: 1px;
}
