@import '../../../../theme/colors.module.scss';

.title.ant-typography {
  margin-bottom: 0.25rem;
}
.content {
  margin-bottom: 2.5rem;
  &--text {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    max-width: 57rem;
    .bold {
      font-weight: 600;
    }
  }
}
.read-more.ant-typography {
  color: $blue-7;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: $blue-7;
  text-decoration-thickness: 1px;
}
